@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #8e98ff, #606beb);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

html,
body {
  @apply bg-white;
}

main {
  @apply min-h-screen pt-10;
  @apply bg-cover;

  &.main-page {
    background-image: url("/images/bg-main.svg");
  }

  &.auth-page {
    background-image: url("/images/bg-auth.svg");
  }
}

h1 {
  @apply max-sm:text-[3rem] text-6xl text-gradient leading-tight xl:tracking-[-2px] font-semibold;
}

h2 {
  @apply max-sm:text-xl text-3xl text-dark-200;
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
  }

  .gradient-border {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
  }

  .primary-button {
    @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full;
  }

  .navbar {
    @apply flex flex-row justify-between items-center bg-white rounded-full p-4 w-full px-10 max-w-[1200px] mx-auto;
  }

  .main-section {
    @apply flex flex-col items-center gap-8 pt-12 mx-15 pb-5;
  }

  .page-heading {
    @apply flex flex-col items-center gap-8 max-w-4xl text-center;
  }

  .resumes-section {
    @apply flex flex-wrap max-lg:flex-col gap-6 items-start  w-full max-w-[1850px] justify-evenly;
  }

  .resume-card {
    @apply flex flex-col gap-8 h-[560px] w-full lg:w-[450px] xl:w-[490px] bg-white rounded-2xl p-4;
  }

  .resume-card-header {
    @apply flex flex-row gap-2 justify-between min-h-[110px] max-sm:flex-col items-center max-md:justify-center max-md:items-center;
  }

  .auth-button {
    @apply primary-gradient rounded-full py-4 px-8 cursor-pointer w-fit min-w-[180px] max-md:w-full text-3xl font-semibold text-white;
  }
}