@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark-200: #475467;
  --color-light-blue-100: #c1d3f81a;
  --color-light-blue-200: #a7bff14d;

  --color-badge-green: #d5faf1;
  --color-badge-red: #f9e3e2;
  --color-badge-yellow: #fceed8;

  --color-badge-green-text: #254d4a;
  --color-badge-red-text: #752522;
  --color-badge-yellow-text: #73321b;

  --breakpoint-xs: 30rem;
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
}

@utility primary-gradient {
  background: linear-gradient(to bottom, #8e98ff, #606beb);
  box-shadow: 0px 74px 21px 0px #6678ef00;
}

@utility primary-gradient-disabled {
  background: linear-gradient(to bottom, #c0c4d8, #a3a8c3);
  box-shadow: none;
}

@utility inset-shadow {
  box-shadow: inset 0 0 12px 0 rgba(36, 99, 235, 0.2);
  backdrop-filter: blur(10px);
}

html,
body {
  @apply bg-white;
}

main {
  @apply min-h-screen pt-5;
  @apply bg-cover;

  &.main-page {
    background-image: url("/images/bg-main.svg");
  }

  &.auth-page {
    background-image: url("/images/bg-auth.svg");
  }
}

h1 {
  @apply max-sm:text-[3rem] text-6xl text-gradient leading-tight xl:tracking-[-2px] font-semibold;
}

h2 {
  @apply max-sm:text-xl text-3xl text-dark-200;
}

label {
  @apply text-dark-200;
}

input {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
}

textarea {
  @apply w-full p-4 inset-shadow rounded-2xl focus:outline-none bg-white;
}

form {
  @apply flex flex-col items-start gap-8 w-full;
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-[#AB8C95] via-[#000000] to-[#8E97C5];
  }

  .gradient-border {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200 p-4 rounded-2xl;
  }

  .primary-button {
    @apply primary-gradient text-white rounded-full px-4 py-2 cursor-pointer w-full;
    /* Disabled state */
    @apply disabled:primary-gradient-disabled disabled:opacity-50 disabled:cursor-not-allowed disabled:shadow-none;
  }

  .navbar {
    @apply flex flex-row justify-between items-center rounded-full py-2 xs:py-3 w-full max-w-[1200px] mx-auto px-4 xs:px-5 sm:px-6 md:px-10 max-xs:justify-center bg-white/25 backdrop-blur-2xl backdrop-saturate-150 border border-white/30 shadow-xl;
  }

  .main-section {
    @apply flex flex-col items-center gap-8 pt-12 mx-4 xs:mx-5 sm:mx-6 md:mx-10 pb-5;
  }

  .page-heading {
    @apply flex flex-col items-center gap-8 max-w-4xl text-center;
  }

  .resumes-section {
    @apply flex flex-wrap max-lg:flex-col gap-6 items-start w-full max-w-[1850px] justify-evenly;
  }

  .resume-card {
    @apply flex flex-col gap-8 h-[560px] w-full lg:w-[450px] xl:w-[490px] bg-white rounded-2xl p-4;
  }

  .resume-card-header {
    @apply flex flex-row gap-2 justify-between min-h-[110px] max-xs:flex-col items-center max-xs:justify-center max-xs:items-center;
  }

  .auth-button {
    @apply primary-gradient rounded-full py-4 px-8 cursor-pointer w-fit min-w-[180px] max-md:w-full text-3xl font-semibold text-white;
  }

  .form-div {
    @apply flex flex-col gap-2 w-full items-start;
  }

  .uploader-selected-file {
    @apply flex items-center justify-between p-3 bg-gray-50 rounded-2xl;
  }

  .resume-nav {
    @apply flex flex-row justify-between items-center p-4 border-b border-gray-200;
  }

  .back-button {
    @apply flex flex-row items-center gap-2 border border-gray-200 rounded-lg p-2 shadow-sm;
  }

  .feedback-section {
    @apply flex flex-col gap-8 w-1/2 px-4 xs:px-6 sm:px-8 max-lg:w-full py-6;
  }

  .resume-summary {
    @apply flex flex-row items-center justify-center p-4 gap-4;

    .category {
      @apply flex flex-row gap-2 items-center bg-gray-50 rounded-2xl p-4 w-full justify-between;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}